<div class="container-fluid">
    <h2>Answers for {{submission.student}}</h2>

    <div>
      <h3>Quiz Preview</h3>
      <div>{{quiz.name}}</div>
      <ul class="list-group">
          <li *ngFor="let question of quiz.questions" class="list-group-item">
              <div>{{question.name}}</div>
              <div>{{question.description}}</div>
              <div [ngSwitch]="question.questionType">
                  <div *ngSwitchCase="'FillBlanks'">
                    <div *ngFor="let blank of question.blanks; let i=index">
                      <div>
                        {{blank.split('*')[0]}}
                      </div>
                    </div>
                  </div>
                  <div *ngSwitchCase="'Choices'">
                      <div *ngFor="let choice of question.choices">
                        <div>{{choice.value}} {{choice.text}}</div>
                      </div>
                  </div>
              </div>
          </li>
        </ul>
    </div>

    <h3>Answers</h3>
    <!-- Search form -->
    <ul class="list-group">
      <li *ngFor="let answer of answers; let i=index" class="list-group-item">
        <div> Answer for {{i + 1}}</div>
        <div>{{answer.answer}}</div>
      </li>
    </ul>

    <a routerLink="/home">Home</a>
    <a routerLink="/courses">Courses</a>
    <a routerLink="/quizzes">Quizzes</a>
  </div>