
<div class="container-fluid">
  <h1>Profile</h1>

  <input [(ngModel)]="user.username"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="user.firstName"
         placeholder="first name"
         class="form-control"/>
  <input [(ngModel)]="user.lastName"
         placeholder="last name"
         class="form-control"/>
  <input [(ngModel)]="user.email"
         placeholder="email"
         class="form-control"/>
  <input [(ngModel)]="user.phoneNumber"
         placeholder="phone number"
         class="form-control"/>
  <input [(ngModel)]="user.address"
         placeholder="address"
         class="form-control"/>
  <button (click)="update()"
          class="btn btn-primary btn-block">
    Update
  </button>

  <div *ngIf="user.username != 'admin'">
    <h2>Courses ({{courses.length}})</h2>
    <ul class="list-group">
        <li *ngFor="let courses of courses" class="list-group-item">
          {{courses.title}}
        </li>
      </ul>

    <h2>Sections ({{sections.length}})</h2>

    <ul class="list-group">
      <li *ngFor="let enrollment of sections" class="list-group-item section-item">
        {{enrollment.section.name}}
        ({{enrollment.section.seats}})
        <button (click)="unenroll(enrollment.section._id, enrollment)" class="btn btn-danger">Unenroll</button>
      </li>
    </ul>
  </div>

  <a (click)="logout()">Logout</a>
  <a routerLink="/home">Home</a>
  <a routerLink="/courses">Courses</a>
  <a [hidden]=!isAdmin routerLink="/admin">Admin Page</a>

</div>