<div class="container-fluid">
    <h1>Sections available ({{sections.length}}) for {{courseTitle}}: </h1>

    <ul class="list-group">
        <li *ngFor="let section of sections" class="list-group-item">
          <div class="section-name">Section Name: {{section.name}}</div>
          <div class="section-seats">Number of Seats: {{section.seats}}</div>
          <button [disabled]="section.seats == 0" (click)="enroll(section)"
                  class="float-right btn btn-primary enroll-btn">Enroll</button>
        </li>
    </ul>
  </div> 