.container-fluid {
    margin: 30px;
}

h1 {
    margin-bottom: 30px;
}

.list-group-item {
    width: 40%;
}

.section-name {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.section-seats {
    margin-bottom: 10px;
    padding-left: 20px;
}

.enroll-btn {
    margin: 0px 10px 10px 0px;
}